<% layout("/layouts/boilerplate") %>
<style>
    #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .filter{
        margin-right: 1.5rem;
        text-align: center;
        margin-top: 2rem;
        opacity: 0.7;
    }
    .filter a{
        color: #272727;
    }
    .filter p{
        font-size: 0.8rem;
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }
    .tax-info{
        display:none;
    }
    .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 3rem;
        padding: 1rem;
        margin-left: 7rem;
        display: flex;
        align-items: center;
    }
</style>
<body>
    <!-- <h2>All Listing</h1> -->
        <div id="filters">

            <div class="filter">
                <a href="http://localhost:8080/listing/TrendingFilters"><i class="fa-solid fa-fire"></i></a>
                <p>Trending</p>
            </div>

            <div class="filter">
                <a href="http://localhost:8080/listing/RoomsFilters"><i class="fa-solid fa-bed"></i></a>
                <p>Rooms</p>
            </div>

            <div class="filter">
                <a href="http://localhost:8080/listing/IconicCitiesFilters"><i class="fa-solid fa-mountain-city"></i></a>
                <p>Iconic Cities</p>
            </div>

            <div class="filter">
                <a href="http://localhost:8080/listing/MountainsFilters"><i class="fa-solid fa-mountain-sun"></i></a>
                <p>Mountains</p>
            </div>

            <div class="filter">
                <a href="http://localhost:8080/listing/CastlesFilters"><i class="fa-brands fa-fort-awesome"></i></a>
                <p>Castles</p>
            </div>

            <div class="filter">
                <a href="http://localhost:8080/listing/AmazingPoolsFilters"><i class="fa-solid fa-person-swimming"></i></a>
                <p>Amazing Pools</p>
            </div>

            <div class="filter">
                <a href="http://localhost:8080/listing/CampingFilters"><i class="fa-solid fa-campground"></i></a>
                <p>Camping</p>
            </div>

            <div class="filter">
                <a href="http://localhost:8080/listing/FarmsFilters"><i class="fa-solid fa-cow"></i></a>
                <p>Farms</p>
            </div>

            <div class="filter">
                <a href="http://localhost:8080/listing/ArcticFilters"><i class="fa-regular fa-snowflake"></i></a>
                <p>Arctic</p>
            </div>

            <div class="filter">
                <a href="http://localhost:8080/listing/DomesFilters"><i class="fa-solid fa-igloo"></i></a>
                <p>Domes</p>
            </div>


            <div class="filter">
                <a href="http://localhost:8080/listing/BoatsFilters"><i class="fa-solid fa-sailboat"></i></a>
                <p>Boats</p>
            </div>

            


            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Display total after Taxes</label>
                </div>
            </div>
        </div>

    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
        <% for(let listing of allListings){ %>
            <a href="/listing/<%= listing._id%>" class="listing-link">
                <div class="card col listing-card" >
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing-img" style="height: 20rem;">
                    <div class="card-img-overlay"><i class="fa-solid fa-heart"></i></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title%></b>
                            <br>
                            &#36; <%= listing.price.toLocaleString("en-AU") %> / night
                            <i class="tax-info">&nbsp; +18% GST</i>
                            &nbsp; &nbsp; &nbsp;  <b>Category : <%= listing.category%></b>
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>
   

    <script>
        let taxToggle = document.getElementById("flexSwitchCheckDefault");
        taxToggle.addEventListener("click", ()=> {
            let taxInfo = document.getElementsByClassName("tax-info");
            
            for(info of taxInfo) {
                if(info.style.display != "inline"){
                    info.style.display = "inline";
                } else {
                    info.style.display = "none";
                }
                
            }
        })
    </script>
</body>



